.App {
  text-align: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.card {
  margin: 10px;
  padding: 20px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
}

.card:hover {
  background-color: #f0f0f0;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
